<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="export()">Save to Dropbox</ion-button>
    <ion-button (click)="import()">Load from Dropbox</ion-button>
    <ul>
      <li *ngFor="let item of items">{{item.key}}: {{item.value}}</li>
    </ul>
  </div>
</ion-content>
