<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button class="button" (click)="export()">Save to Dropbox</ion-button>
    <ion-button class="button" (click)="import()">Load from Dropbox</ion-button>

    <div cdkDropListGroup>
      <div class="example-container">
        <div
          cdkDropList
          [cdkDropListData]="items"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of items" cdkDrag>
            {{item.value.header}}
            <br />
            {{item.value.notes}}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
